<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background-color: #17212b">
  <div class="d-flex flex-grow-1">
    <a class="navbar-brand mx-2" href="/"> InStorage </a>
    <span class="w-100 d-lg-none d-block"></span>
    <button class="navbar-toggler mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto flex-nowrap mx-2">
      <li class="nav-item mx-2">
        <a routerLink="/" (click)="navigateTo('register')" class="nav-link">Registration</a>
      </li>
      <li class="nav-item mx-2">
        <a routerLink="/" (click)="navigateTo('login')" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>

<!--<div>APP Component</div>-->
<!--<ul>-->
<!--  <li *ngFor="let route of routes">-->
<!--    <button (click)="navigateTo(route)">Navigate</button>-->
<!--  </li>-->
<!--</ul>-->


<router-outlet></router-outlet>
